@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

#app {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.title-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Archivo Narrow', sans-serif;
    position: relative;
}

.tooltip {
    display: inline-block;
    position: fixed; /* Change to fixed for positioning at the bottom */
    bottom: 20px; /* Position at the bottom of the screen */
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    padding: 8px 16px; /* Add padding to fit the new text */
    font-size: 14px;
    font-family: 'Archivo Narrow', sans-serif; /* Specify the font-family */
    background: pink;
    border-radius: 12px; /* Adjust border radius for a more rounded look */
    color: white;
    white-space: nowrap; /* Prevent text from wrapping */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: lemonchiffon;
    color: #333;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 35px; /* Adjust the position relative to the tooltip text */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Archivo Narrow', sans-serif; /* Specify the font-family */
}

.tooltip:hover .tooltiptext,
.tooltip.active .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#playerQuestion {
    font-size: 18px;
    font-family: 'Archivo Narrow', sans-serif;
    margin-bottom: 10px;
}

#playerName {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 22px;
}

#collegeGuess {
    width: 90%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 0;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Archivo Narrow', sans-serif;
    position: relative;
}

#submitBtn {
    background-color: #00b0a9; /* Update button color */
    color: #f8f8f8;
    text-transform: uppercase;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-family: 'Archivo Narrow', sans-serif;
    display: block;
    margin: 10px auto;
}

#submitBtn:hover {
    background-color: #008f8a; /* Slightly darker shade for hover */
}

#buttonRow {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

#feelingLuckyBtn {
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-family: 'Archivo Narrow', sans-serif;
    display: block;
    width: 50%; /* Ensure it takes up half the width in the row */
}

#feelingLuckyBtn:hover {
    background: linear-gradient(90deg, violet, indigo, blue, green, yellow, orange, red); /* Reverse the gradient on hover */
}

#goFishBtn {
    background-color: #1E90FF; /* Ocean blue color */
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-family: 'Archivo Narrow', sans-serif;
    display: block;
    width: 50%; /* Ensure it takes up half the width in the row */
}

#goFishBtn:hover {
    background-color: #1C86EE; /* Darker shade on hover */
}

#result {
    margin-top: 10px;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    font-family: 'Archivo Narrow', sans-serif;
}

#plunkosCounter {
    font-size: 36px; /* Increase the font size */
    font-family: 'Lilita One', cursive;
    color: #4CAF50;
    animation: rainbow 2s infinite;
    margin-top: 20px; /* Add space above */
}

@keyframes rainbow {
    0% {color: blue;}
    20% {color: red;}
    40% {color: orange;}
    60% {color: green;}
    80% {color: blue;}
    100% {color: red;}
}

#plunkosCount {
    font-weight: bold;
}

.correct {
    background-color: green;
    font-family: 'Anton', sans-serif;
    animation: blinkRainbow 1s infinite;
}

.incorrect {
    background-color: red;
    font-family: 'Anton', sans-serif;
}

#shareSnippet {
    margin-top: 10px;
    padding: 10px;
    color: #333
